<style>
.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 0px solid #dededf;
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 0px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
    font-family: Calibri, Helvetica, sans-serif;
}

.table_component td {
    border: 0px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
</style>
<div class="table_component" role="region" tabindex="0">
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td rowspan=4 width=7%><img src="logo.png" style="vertical-align:top"></td>
            <td style="text-align:left;" width=20%><b>Hammerstar Wood Works</b></td>
            <td style="text-align:right;" width=20%><b>Jill Smith</b><br></td>
        </tr>
        <tr>
            <td style="text-align:left;" width=20%>123 Baker Street<br></td>
            <td style="text-align:right;" width=20%>Employee ID: 16<br></td>
        </tr>
        <tr>
            <td style="text-align:left;" width=20%>Nelson, BC XOX OXO<br></td>
            <td style="text-align:right;" width=20%>123 Banff Avenue<br></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align:right;"width=20%>Banff, AB XOX OXO<br></td>
        </tr>
    </tbody>
</table>

<table>
	<tbody >
        <tr colspan = 2 >
        <td style="background-color:rgb(192, 192, 192);">Pay Period: Nov 1st - 15th(2018)</td>
        <td style="text-align:right; background-color:rgb(192, 192, 192);">Pay Date: Nov 14th 2018</td>
        </tr>
</table>
<div style="margin-top:8px">Made with <a href="https://www.htmltables.io/" target="_blank">HTML Tables</a></div>
</div>